* {
  font-size: 20px;
  font-family: "Calibri Light";
  outline: none;
}


/***********SLIDER***********/
input[type=range] {
  -webkit-appearance: none;
  width: 130px;
  margin: 7.3px 0;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(200, 200, 200, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 49, 0), 0px 0px 0px rgba(0, 0, 75, 0);
  border: 1px solid #00001e;
  height: 24px;
  width: 24px;
  border-radius: 15px;
  background: #646464;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type=range]:hover::-webkit-slider-runnable-track {
  background: rgba(213, 213, 213, 0.5);
}
input[type=range]:hover::-webkit-slider-thumb {
  background: #969696;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(200, 200, 200, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 49, 0), 0px 0px 0px rgba(0, 0, 75, 0);
  border: 1px solid #00001e;
  height: 24px;
  width: 24px;
  border-radius: 15px;
  background: #646464;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(187, 187, 187, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(200, 200, 200, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 49, 0), 0px 0px 0px rgba(0, 0, 75, 0);
  border: 1px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #646464;
  cursor: pointer;
  height: 11.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(200, 200, 200, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(213, 213, 213, 0.78);
}

/***********BUTTON***********/
button {
  background-color: rgba(100,178,255,250);
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:active {
  -webkit-transition-duration: 0.05s;
  transition-duration: 0.05s;
  background-color: #3e8e41;
  transform: translateY(4px);
}

/***********Checkbox***********/
input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 15px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 26px;
  height: 26px;
  background: #fff;
  border-radius: 15px;
  transition: 0.2s;
}

input:checked + label {
  background: #bada55;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 40px;
}
